FORMAT: 1A
HOST: https://api.ehealth.gov.ua

# ESOZ

**Version: 9.11 V3** 2026-03-17

## General Information

Electronic healthcare system of Ukraine (ESOZ) consists of central database and medical information systems (MIS).
Central database belongs to Ukrainian state, represented by the National Healthcare Service of Ukraine (NHSU).

Users of the electronic healthcare system of Ukraine are individuals and
legal entities who are registered in the electronic health system and
have access rights in accordance with the Procedure for the Operation of the electronic healthcare system.

## Abbreviations, acronyms, explanations

See <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17536909481">link to Confluence ESOZ Glossary page</a>.

## Interacting with API

Our API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer).
It has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors.
We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients.

### Verbs

As per RESTful design patterns, API implements following HTTP verbs:

- HEAD - Can be issued against any resource to get just the HTTP header info.
- GET - Read resources. Should hever change resources on server (idempotency) since most of http proxies and services may reply same request multiple times.
- POST - Create new resources.
- PUT - Replace resources. Idempotent. (Can be used as insert or update method, when we want clients to don't care whenever entity is exists in our system.)
- PATCH - Same as PUT, but replaces subset of fields instead of full entity. Should never be used as insert of update pattern.
- DELETE - Remove resources.

### Status codes

Code  | Description
----- | -----------
200 | Everything worked as expected.
201 | Created.
202 | Accepted.
400 | Bad Request. 
401 | Unauthorized. No valid API key provided or API key doesn't match project.
402 | The parameters were valid but the request failed.
403 | Source or destination account is disabled.
404 | Not Found. The requested resource doesn't exist.
409 | Logical error. For example, odject in current status can not be modified. 
415 | Incorrect Content-Type HTTP header.
422 | Semantic error or similar. For example, value is not included in enum of allowed values.
429 | Too Many Requests. Rate limit is exceeded.
500 502 503 504 | Server Errors. Something went wrong on our end.

### Field naming

Fields are named in snake_case since it's more common for
our stack and [20% easier to read](http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=5521745).

### Authentication 

In general there is 3-phase authentication routine:

1) Issuing Session Token (OAuth);
2) Issuing Approval Token (ABAC);
3) Issuing Access Token (JWT).

### Request identifier

Each API request has an associated request identifier.
You can find it in X-Request-ID response header or inside meta.request_id property of returned JSON.

You can also find request identifiers in the URLs of individual request logs in your Dashboard.
If you need to contact us about a specific request, providing the request identifier will
ensure the fastest possible resolution.

All Request Id's are prefixed with a human-readable name of server that served your request.

X-Request-ID: flash-99spDSoim3i

### Content Type

Content-Type header should be always application/json

### Request structure

Request consist with a root object that contain resource and metadata as it's childs:

{
  "resource": {
    "name": "Alex",
    "surname": "Gray",
    "email": "me@example.com",
    "credentials: [
      {"method": "passsword", "password": "notasecret"}
    ]
  },
  "format_response": true,
  "redirect_browser": true
}

### Response structure

Response can consist of 5 root properties:

* meta - contains: 1) URL of the requested resource url;
                     2) requested response type type, may be either list or object;
                     3) HTTP status code;
                     4) idempotency key (idempotency_key);
                     5) request id (request_id).
* urgent - Notifications and counters.
* errors - Error description. MUST be present when status code is not 2XX, 3XX. CAN NOT be present when data is present.
* data - Requested resource. MUST be present when status code is 2XX, 3XX. CAN NOT be present when error is present.
* paging - Pagination data.
* sandbox - Optional data provided by sandbox environment, for development purposes.

{
  "meta": {
    "url": "https://qbill.ly/transactions/",
    "type": "list",
    "code": "200",
    "idempotency_key": "iXXekd88DKqo",
    "request_id": "qudk48fFlaP"
  },
  "urgent": {
    "notifications": ["Read new emails!"],
    "unseen_payments": 10
  },
  "data": {
    "type": "resource_name",
    <...>
  },
  "paging": {
    "limit": 50,
    "cursors": {
      "starting_after": "MTAxNTExOTQ1MjAwNzI5NDE=",
      "ending_before": "NDMyNzQyODI3OTQw"
    },
    "has_more": true
  },
  "sandbox": {
    "debug_varibale": "39384",
    "live": "false"
  }
}

### Errors

All errors is returned in JSON format if another Content-Type is not specified.
This means that your will receive JSON for requests with HTTP 415 code when incorrect Content-Type is provided.

#### Error Object Properties

You can find all necessary information about occurred error in a response error property. It can have following fields:

Fields | Required | Description
--------- | ----------- | -----------
type | true | General error type. You should return human-readable error message based on this field as a key. Type descriptions is listed in next section.
invalid | false | Collection of validation errors for your request.
invalid[].entry_type | true | Type of invalid field.
invalid[].entry | false | Name or JSON path to invalid data property.
invalid[].rules | false| Failed rules for invalid property. You can find supported validation rules at [Request Validators](#request-validators) table. Server may optionally skip this field, when validation rules is perefferd to stay secret or hard to extract from validator.
invalid[].params | false| Optional parameters that can be used in a human-readable error message, to make it easier to understand. Usually it contains limit values for failed validator.
message | false | Human readable message for API developer.

Example error response:

{
    "data": {
        "error": {
            "invalid": [
                {
                    "entry": "$.type",
                    "entry_type": "json_data_property",
                    "rules": [
                        {
                            "description": "Value AMB/ not found in the dictionary eHealth/episode_types",
                            "params": [],
                            "rule": "invalid"
                        }
                    ]
                }
            ],
            "message": "Validation failed. You can find validators description at our API Manifest: http://esoz.docs.apiary.io/#introduction/interacting-with-api/errors.",
            "type": "validation_failed"
        },
        "eta": "2019-04-23T09:13:02.415",
        "status": "failed",
        "status_code": 422
    },
    "meta": {
        "code": 200,
        "request_id": "806e0f81-ac97-470e-988f-6391e9abf642#28157",
        "type": "object",
        "url": "http://api-medical-events.me.svc.cluster.local/api/jobs/5cbed6e2ed59d30001e54b92"
    }
}

#### Error Types

Parameter | Description
--------- | -----------
access_denied | Authorization not passed
forbidden | User does not have permissions to access the resource
content_type_invalid | Invalid HTTP request content-type.
validation_failed | Failed validation on JSON request body or form data. 
request_too_large | Request body was to large to process it.
request_conflict| Request causes logical errors
internal error| Error on the server

#### Error Entry Types

Entry Type | Description
--------- | -----------
json_data_proprty | JSON document is invalid. entry will contain JSON Path to invalid property.
form_data_field | HTTP request field (for form-data requests) is invalid. 
query_param | HTTP query parameter is invalid.
body | Mailformed request body.
header | HTTP request header is invalid.

#### Validation Rules

List of possible validation rules:

Rule | Params | Description
-------------- | ----------- | -----------
cast | [types] | The field type should be in types.
required | [] | The field is required and should not be nil.
format | [patterns] | The field should match all regular expressions in patterns list.
inclusion | [enum] | Field value should be in enum.
invalid| [] | Field value is not valid according to specification
exclusion | [enum] | Field value should NOT be in enum.
subset | [set] | Field value should be subset of set.
length | {min:_, max:_, is:_, exclusive:true|false} | List or string length should be equal to is value, less than max and bigger than min value. Params is optional, but one of them should always be present. exclusive is false by default.
number | {greater_than:_, less_than:_, greater_than_or_equal_to:_, less_than_or_equal_to:_, multiple_of:_} | The field value must be a number that is greater than greater_than and less than less_than.
confirmation | [] | The field value of field must match confirmed field (eg. password_confirmation should match password).
acceptance | [] | The field value should be true.
email | [patterns] | The field value must be a valid email address respectively to patterns.
phone_number | [patterns] | The field value must be a valid phone number respectively to patterns. *Usually it means that is should be in international format (with +3).*
card_number | [] | The field value should be a valid Visa or MasterCard card number. (By luhn algoryghm.)
metadata | [] | The field must be a [valid metadata object](http://esoz.docs.apiary.io/#introduction/optional-features/metadata).
unique | [] | The field must be a list with all it's items unique.
schemata | [] | JSON Schema specific error core.
schema | [] | JSON Schema specific error core.
dependency | [json_paths] | Property expects another property to exist.
json | [] | The field under validation must be a valid JSON string.
authentification_code | {resent: true} | OTP or other authentification code was invalid. User should retry with re-entering it. resent property will tel is code was automatically resent upon failed validation.
date, datetime, timestamp | [after:_,before:_,after_or_at:_,before_or_at:_] | Invalid datetime representation.
url | [patterns] | Field should contain a valid URL.

### Pagination

You can use next search parameters to operate pagination:

Arguments:

- page_number (optional) - A number of a page in the list;
- page_size (optional) -  A limit on the number of objects to be returned, between 1 and 100. Default: 50;

### HTTP Redirects

API uses HTTP redirection where appropriate. Clients should assume that any request may result in a redirection. Receiving an HTTP redirection is not an error and clients should follow that redirect. Redirect responses will have a Location header field which contains the URI of the resource to which the client should repeat the requests.

Status codes:

- 301 - Permanent redirection. The URI you used to make the request has been superseded by the one specified in the Location header field. This and all future requests to this resource should be directed to the new URI.
- 302, 307 - Temporary redirection. The request should be repeated verbatim to the URI specified in the Location header field but clients should continue to use the original URI for future requests.
- 303 - The request was successfully performed, the result can be found by the redirect URI.
Other redirection status codes may be used in accordance with the HTTP 1.1 spec.

### File Uploads

#### For files less than 10 MB

For small files it's appropriate to send base64 encoded file contents as JSON field:

{
    name: "My Name",
    image: "sdasdpjoijhwhwe83280u2380wef=="
}

#### For larger files - Multi-Stage Uploads (Network Transactions)

Multi-stage process:

1). User initiates uploading;
2). Server provides the link to media storage;
3). User upload file using provided link.

## Optional Features

### Rate Limits (Throttling)

We throttle our APIs by default to ensure maximum performance for all developers.

Rate limiting of the API is primarily considered on a per-consumer basis.
All your projects share a same rate limit, to avoid API-consuming fraud.
Rate limits depend on your account type.

Currently free accounts is rate limited to 1000 API calls every 15 minutes,
but this value may be adjusted at our discretion.

### Idempotent Requests

From a RESTful service standpoint, for an operation (or service call) to be idempotent,
clients can make that same call repeatedly while producing the same result.
In other words, making multiple identical requests has the same effect as
making a single request. However, if you are working with async methods,
new job will not be created before previous identical request is not performed.

### Ordering Lists and Collections

By default, all collections are ordered in ascending chronological order.

# Group Authorization
## Authorization Endpoints [/]

### Get Nonce [GET /gen/user]
This WS allows to get nonce (one time JWT) for active client of the system.
Field client_secret must be passed if client type = TRUSTED_PIS.

Nonce payload example:

{
  "aud": "mithril-login",
  "exp": 1523439201,
  "iat": 1523438301,
  "iss": "EHealth",
  "jti": "efe1f08e-d4b4-4cef-a02c-78ea4a1dda25",
  "nbf": 1523438300,
  "nonce": 123,
  "sub": 123,
  "typ": "access"
}

+ Request (application/json)
+ Headers
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ client_id (string) - 30074b6e-fbab-4dc1-9d37-88c21dab1847
+ client_secret (string) - c2778f3064753ea70de870a53795f5c9

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (object)
   + token (string) - 'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaXRocmlsLWxvZ2luIiwiZXhwIjoxNTIzNDM5MjAxLCJpYXQiOjE1MjM0MzgzMDEsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiJlZmUxZjA4ZS1kNGI0LTRjZWYtYTAyYy03OGVhNGExZGRhMjUiLCJuYmYiOjE1MjM0MzgzMDAsIm5vbmNlIjoxMjMsInN1YiI6MTIzLCJ0eXAiOiJhY2Nlc3MifQ.UZ6S92h3nAG-GKY_XUE1Rc6uR_BuqR8ufUJfMhhKtNmt7DkkQlU49qPXjL0LFddVz1E2DXi2a-BQ0FG-DHsTHA'

### Deprecated Refresh Client Secret [GET /gen/user]
+ Parameters
+ `id` (string, required) - identifier
+ `connection_id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (object)
    + include Connection
    + secret (string) - ZlFOaHBTR0d3Q0hQcDEraHVYdXBVZz09

### Login [GET /gen/userauth]
Different environments are using different hosts in endpoints:

Environmnet | Host
------------|-----
DEMO        | https://auth-demo.ehealth.gov.ua
PREPROD     | https://auth-preprod.ehealth.gov.ua
PROD        | https://auth.ehealth.gov.ua

In general 3 stage authentication purpose is to get active JWT Bearer which
can be obtained using the folling example:

var user      = __ENV.USER;
var data      = JSON.parse(open("./assets/" + user));
var authorize = JSON.parse(open("./assets/authorize@" + user));
var grant     = JSON.parse(open("./assets/grant@" + user));

export function setupAuth() {

   let res1 = http.post("https://auth-demo.ehealth.gov.ua/auth/login",
       JSON.stringify(data), { headers: { 'Content-Type': 'application/json' } });
       check(res1, { "User is entered: ": r => r.json().meta.code < 300, });

   let res2 = http.post("https://auth-demo.ehealth.gov.ua/oauth/apps/authorize",
       JSON.stringify(authorize), { headers:
          { 'Content-Type': 'application/json',
            'Authorization' : 'Bearer ' + res1.json().data.value } });
       check(res2, { "User is authorized by app: ": r => r.json().meta.code < 300, });

   grant.token.code = res2.json().data ? res2.json().data.value : 'error';
   let res3 = http.post("https://auth-demo.ehealth.gov.ua/oauth/tokens",
       JSON.stringify(grant), { headers:
          { 'Content-Type': 'application/json',
            'Authorization' : 'Bearer ' + res1.json().data.value } });
       check(res3, { "User is granted: ": r => r.json().meta.code < 300, });

   return { data: res3 };
}

Create Session Token by Object.

+ Request (application/json)
+ Attributes (object)

+ token (object)
    + grant_type (string) - password - authentication type
    + email (string) - user@company.com - email address of ESOZ user
    + client_id (string) - 00 - MIS identifier
    + scope (string) - app:authorize' - ABAС rule

+ Response 201 (application/json)
+ Attributes (Response_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (Access_Token)

### Sign-in [GET /gen/userauth]
Create Session Token by Params. You MUST redirect your users to this URL to obtain OAuth
Code Grant (which is later exchanged to Access Token).

User will see rendered login page, which structure differ by a list of requested
scopes and security measures applied by DevOps team.

For security purposes, we will set X-Frame-Options: deny header that will disallow opening this page in an iframe.

+ Parameters
+ `client_id` (string, required) - identifier
+ `redirect_uri` (string, required) - identifier
+ `scope` (string, required) - identifier
+ `email` (string, required) - identifier
+ `user_data` (string, required) - identifier
+ `state` (string, required) - identifier

+ Response 200 (text/html; charset=UTF-8)
+ Headers

### Issuing Approval Token [GET /gen/userauth]
+ Request (application/json)
+ Headers
Authorization: Bearer 432fsdfg543252345tfgdsgdft2345 - access_token with the app:authorize scope
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes
+ app (required)
    + client_id (string) - client-1380df72-275a-11e7-93ae-92361f002671 - ID of client that is granted with access to user's resources.
    + scope (string) - notebooks:read notebooks:create patients:read - List of scopes that are granted to the client on the user's behalf.
    + redirect_uri (string) - http://example.com/my_success_login_page - URL of client where user will be redirected on Approval creation.

+ Response 201 (application/json)
+ Headers
Location: http://example.com/my_success_login_page?code=authorization_code-cTdHUE9jN29yWHo0VTAwL3lwSVRoUT09
+ Attributes (Response_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (Response_OK)
+ urgent
    + redirect_uri: http://example.com/my_success_login_page?code=authorization_code-cTdHUE9jN29yWHo0VTAwL3lwSVRoUT09

### Issuing Grant Access Token [GET /gen/userauth]
+ Request (application/json)
+ Headers
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
+ Attributes (object)

+ token (object)
    + client_id (string) - 6498d88e-97fb-47e2-85a5-99e884f888aa - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
    + client_secret (string) - msp-001-secret-key - Medical Information System secret key issued upon integration request. Used to identify application developer.
    + code (string) - 299383828 - oAuth code grant.
    + grant_type (string) - authorization_code - oAuth Grant Type. Currently only authorization_code is supported.
    + redirect_uri (string) - https://example.com/ - URL where user will be redirected after authentification. This url will receive code and state parameters in query string.
    + scope (string) - capitation_contracts:view capitation_contracts:create patients:view patients:create - List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.

+ Response 201 (application/json)
+ Attributes (Response_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (Access_Token)

### Reissuing Session Token - Duplicate POST [GET /gen/userauth]
+ Request (application/json)
+ Headers
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
+ Attributes (object)

+ token (object)
    + client_id (string) - 6498d88e-97fb-47e2-85a5-99e884f888aa - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
    + client_secret (string) - msp-001-secret-key - Medical Information System secret key issued upon integration request. Used to identify application developer.
    + code (string) - 299383828 - oAuth code grant.
    + grant_type (string) - authorization_code - oAuth Grant Type. Currently only authorization_code is supported.
    + redirect_uri (string) - https://example.com/ - URL where user will be redirected after authentification. This url will receive code and state parameters in query string.
    + scope (string) - capitation_contracts:view capitation_contracts:create patients:view patients:create - List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.

+ Response 201 (application/json)
+ Attributes (Response_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (Access_Token)

### Logout [GET /gen/userauth]
+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

### Issuing Nonce Token [GET /gen/userauth]
This access point allows you to get a nonce (one-time JWT) for an
active client of the system. The client_secret field must be passed if the
client type = TRUSTED_PIS. An example of an encoded JWT information message in the token field:

{
   "aud": "mithril-login",
   "exp": 1523439201,
   "iat": 1523438301,
   "iss": "EHealth",
   "jti": "efe1f08e-d4b4-4cef-a02c-78ea4a1dda25",
   "nbf": 1523438300,
   "nonce": 123,
   "sub": 123,
   "typ": "доступ"
}

+ Request (application/json)
+ Headers
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
+ Attributes (object)

+ client_id (string) - 30074b6e-fbab-4dc1-9d37-88c21dab1847
+ client_secret (string) - c2778f3064753ea70de870a53795f5c9

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (object)
   + token (string) - 'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaXRocmlsLWxvZ2luIiwiZXhwIjoxNTIzNDM5MjAxLCJpYXQiOjE1MjM0MzgzMDEsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiJlZmUxZjA4ZS1kNGI0LTRjZWYtYTAyYy03OGVhNGExZGRhMjUiLCJuYmYiOjE1MjM0MzgzMDAsIm5vbmNlIjoxMjMsInN1YiI6MTIzLCJ0eXAiOiJhY2Nlc3MifQ.UZ6S92h3nAG-GKY_XUE1Rc6uR_BuqR8ufUJfMhhKtNmt7DkkQlU49qPXjL0LFddVz1E2DXi2a-BQ0FG-DHsTHA'

### Get Clients [GET /gen/client]
This service returns list of clients filtered by context depending on client type:

* Mithril Admin - receives all client records without context
* MSP - receives only its own client
* MIS - receives only its own client

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Client])

### Get Client Details [GET /gen/client]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (Client)
    + client_type_name (string) - MSP

### Get Client Connections [GET /gen/connection]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Connection])

### Get Client Connection Details [GET /gen/connection]
+ Parameters
+ `id` (string, required) - unique identifier
+ `connection_id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (Connection)

### Update Client Connection [GET /gen/connection]
+ Parameters
+ `connection_id` (string, required) - identifier
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ redirect_uri (string) - https://example3.com

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (Connection)

### Refresh Client Secret - Duplicate PATCH [GET /gen/connection]
+ Parameters
+ `id` (string, required) - unique identifier
+ `connection_id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (object)
    + include Connection
    + secret (string) - ZlFOaHBTR0d3Q0hQcDEraHVYdXBVZz09

### Delete Client Connection [GET /gen/connection]
+ Parameters
+ `id` (string, required) - identifier
+ `connection_id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (object)

+ meta (Response__Meta)

### Approval App [GET /gen/approval_app]
API for adding authorized applications for ESOZ.
# Group General
## General Endpoints [/]

### Deprecated Get Dictionaries [GET /gen/system_dictionary]
API for Services and Dictionaries.

Each dictionary is an object that contains {key}:{value} pairs where: {key} is a dictionary record and {value} is a dictionary record description.

+ Parameters
+ `name` (string, required) - identifier
+ `is_active` (string, required) - identifier

+ Request (application/json)
+ Headers
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (array[Dictionary])

+ Response 400 (application/json)

### PIS Get Dictionaries V2 [GET /gen/system_dictionary]
Each dictionary is an object that contains not only a code and description of a value,
but also a status of the value. In addition, it can represent hierarchical dictionaries with subordinate (child) values

NOTE:

On all envoronments this endpoint DOESN'T require authentication with address:read scope.

+ Parameters
+ `name` (string, required) - identifier
+ `is_active` (string, required) - identifier
+ `value_code` (string, required) - identifier
+ `value_description` (string, required) - identifier
+ `value_is_active` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (array[Dictionary_v2])
    + (object)
        + include Dictionary_v2
        + name (string) - eHealth/ICPC2/condition_codes - Unique dictionary name
        + description (string) - Коди станів за ICPC2 - dictionary description for a user
        + values (array, required)
            + (Dictionary_value)
                + code (string) - D88 - code of the dictionary value
                + description (string) - Апендицит - description of the code

### MIS Get Dictionaries V2 - Duplicate GET [GET /gen/system_dictionary]
+ Parameters
+ `name` (string, required) - identifier
+ `is_active` (string, required) - identifier
+ `value_code` (string, required) - identifier
+ `unique_10929` (string, required) - identifier
+ `duplicate` (string, required) - identifier
+ `duplicate_1` (string, required) - identifier

+ Request (application/json)
+ Headers
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (array[Dictionary_v2])
    + (object)
        + include Dictionary_v2
        + name (string) - eHealth/ICPC2/condition_codes - Unique dictionary name
        + description (string) - Коди станів за ICPC2 - dictionary description for a user
        + values (array, required)
            + (Dictionary_value)
                + code (string) - D88 - code of the dictionary value
                + description (string) - Апендицит - description of the code

+ Response 400 (application/json)

### Trembita Get Dictionaries [GET /gen/system_dictionary]
+ Parameters
+ `name` (string, required) - identifier
+ `is_active` (string, required) - identifier
+ `value_code` (string, required) - identifier
+ `duplicate_1` (string, required) - identifier
+ `duplicate` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_TIL_GetDictionaries)

+ data (array)
     + object (TIL_GetDictionary)
         + labels (array)
             + SYSTEM
             + EXTERNAL
         + is_active: true
         + values (array)
             + (TIL_ChildValues)
                 + code: 04_06
                 + description: Допоміжні засоби для лікування кровообігу
                 + is_active: true
                 + child_values (array)
             + (TIL_ChildValues)
                 + code: 04_33
                 + description: Допоміжні засоби, призначені для збереження цілісності тканин
                 + is_active: true
                 + child_values (array)
                      + (TIL_ChildValues)
                          + code: 04_33_03
                          + description: Подушки для сидіння та підстилки для збереження цілісності тканин
                          + is_active: true
                          + child_values (array)
                      + (TIL_ChildValues)
                          + code: 04_33_06
                          + description: Допоміжні засоби для збереження цілісності тканин у лежачому положенні
                          + is_active: true
                          + child_values (array)
             + (TIL_ChildValues)
                 + code: 04_48
                 + description: Обладнання для тренування руху, сили і балансу
                 + is_active: true
                 + child_values (array)
                      + (TIL_ChildValues)
                          + code: 04_48_07
                          + description: Допоміжні засоби для тренування патерну ходіння
                          + is_active: true
                          + child_values (array)
                      + (TIL_ChildValues)
                          + code: 04_48_15
                          + description: Вироби для тренування рук, вироби для тренування тулуба та вироби для тренування ніг
                          + is_active: true
                          + child_values (array)
             + (TIL_ChildValues)
                 + code: 22_27
                 + description: Допоміжні засоби для подавання сигналів тривоги, індикації, нагадування та сигналізації
                 + is_active: true
                 + child_values (array)
                      + (TIL_ChildValues)
                          + code: 22_27_04
                          + description: Вироби для сигналізації
                          + is_active: true
                          + child_values (array)
                      + (TIL_ChildValues)
                          + code: 22_27_12
                          + description: Годинники і хронометри
                          + is_active: true
                          + child_values (array)
+ error (Response__Error)

### List Of Districts By Search Params [GET /gen/addresses]
API for searching Ukrainian Addresses.

+ Parameters
+ `region_id` (string, required) - identifier
+ `region` (string, required) - identifier
+ `name` (string, required) - identifier
+ `koatuu` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
    + code (number) - 200
+ data (array[Response_District])

+ Response 422 (application/json)

### Districts by Region [GET /gen/addresses]
+ Parameters
+ `name` (string, required) - identifier
+ `koatuu` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
    + code (number) - 200
+ data (array[Response_District_Short])

+ Response 400 (application/json)

### Settlements by District [GET /gen/addresses]
Get list of cities by district.

+ Parameters
+ `name` (string, required) - identifier
+ `koatuu` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
    + code (number) - 200
+ data (array[Response_Settlement_Short])

+ Response 400 (application/json)

### List Of Regions By Search Params [GET /gen/addresses]
+ Parameters
+ `name` (string, required) - identifier
+ `koatuu` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
    + code (number) - 200
+ data (array[Response_Region])

### List Of Cities By Search Params [GET /gen/addresses]
Use this method to obtain list of cities. If you want to reduce amount of data that is going trough your application, use name, region, district or koatuu classifier filters and show only cities you are interested in.

+ Parameters
+ `name` (string, required) - identifier
+ `region` (string, required) - identifier
+ `district` (string, required) - identifier
+ `koatuu` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
    + code (number) - 200
+ data (array[Response_Settlement])

### Get Settlement Details by Id [GET /gen/addresses]
Use this method to obtain city details.

+ Parameters
+ `id` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
    + code (number) - 200
+ data (Response_Settlement)

+ Response 400 (application/json)

### List of Streets by Search Params [GET /gen/addresses]
+ Parameters
+ `settlement_id` (string, required) - identifier
+ `name` (string, required) - identifier
+ `type` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
    + code (number) - 200
+ data (array[Response_Street])

+ Response 422 (application/json)

### Event [GET /api/event]

### Get Async Job Processing Details [GET /api/job]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)

+ Headers

    Authorization: Bearer 342432fdsfdsgfdt24535422fgds
    X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ meta (Response__Meta)
    + code (number) - 200
+ data (Job)

+ Response 303 (application/json)
+ Attributes (Response_OK)

+ meta (Response__Meta)
    + code (number) - 303
+ data (Job)
    + status: processed
    + status_code: 200
    + links (array, required)
        + (object)
            + entity (string) - encounter
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/encounters/90a9e15b-b71b-4caf-8f2e-ff247e8a5600
        + (object)
            + entity (string) - condition
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/conditions/df112200-64da-451b-bf77-8e7655bbd48f
        + (object)
            + entity (string) - observation
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/observations/d118cc02-3b9b-4d1a-b728-eda4e3d58f25
        + (object)
            + entity (string) - allergy_intolerance
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/allergy_intolerances/5f41c64a-6742-4d6d-9f3b-c6742b2ee0a1
        + (object)
            + entity (string) - immunization
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/immunizations/12e5985d-2a79-452f-8bc4-ed3a02fdefc5
        + (object)
            + entity (string) - risk_assessment
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/risk_assessments/22e5985d-2a79-452f-8bc4-ed3a02fdefc5
        + (object)
            + entity (string) - device
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/devices/32e5985d-2a79-452f-8bc4-ed3a02fdefc5
        + (object)
            + entity (string) - medication_statemet
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/medication_statemets/42e5985d-2a79-452f-8bc4-ed3a02fdefc5
        + (object)
            + entity (string) - medication_administration
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/medication_administration/42e5985d-2a79-452f-8bc4-ed3a02fdefc5
        + (object)
            + entity (string) - diagnostic_report
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/diagnostic_reports/42e5985d-2a79-452f-8bc4-ed3a02fdefc5
        + (object)
            + entity (string) - procedure
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/procedure/42e5985d-2a79-452f-8bc4-ed3a02fdefc5
        + (object)
            + entity (string) - specimen
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/specimens/42e5985d-2a79-452f-8bc4-ed3a02fdefc6
        + (object)
            + entity (string) - device_dispense
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/device_dispenses/42e5985d-2a79-452f-8bc4-ed3a02fdefc6
        + (object)
            + entity (string) - device_association
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/device_associations/42e5985d-2a79-452f-8bc4-ed3a02fdefc6
        + (object)
            + entity (string) - detected_issue
            + href (string) - {host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/detected_issues/42e5985d-2a79-452f-8bc4-ed3a02fdefc6
        

+ Response 403 (application/json)
+ Attributes (Response_OK)

+ data (Job_Error_403)
+ meta (Response__Meta)
    + code (number) - 200

+ Response 409 (application/json)
+ Attributes (Response_OK)

+ data (Job_Error_409)
+ meta (Response__Meta)
    + code (number) - 200

+ Response 422 (application/json)
+ Attributes (Response_OK)

+ data (Job_Error_422)
+ meta (Response__Meta)
    + code (number) - 200

+ Response 404 (application/json)
+ Attributes (Response_OK)

+ data (Job_Error_404)
+ meta (Response__Meta)
    + code (number) - 404
   
+ Response 500 (application/json)
+ Attributes (Response_OK)

+ data (Job_Error_404)
+ meta (Response__Meta)
    + code (number) - 500

### Get Medical Programs List [GET /api/medical_program]
Method returns list of medical programs filtering by parameters. By default method returns only active medical programs is_active=true

+ Parameters
+ `id` (string, required) - identifier
+ `name` (string, required) - identifier
+ `is_active` (string, required) - identifier
+ `mr_blank_type` (string, required) - identifier
+ `type` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
+ data (array[medical_programs_response])

### Get Medical Program by Id [GET /api/medical_program]
This endpoint returns medical program by id.

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ meta (Response__Meta)
    + code (number) - 200
+ data (medical_programs_response)

### Get Program Services List [GET /api/medical_program]
This endpoint returns list of service program members. **Scopes required:** program_service:read.

+ Parameters
+ `medical_program_id` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
    + code (number) - 200
+ data (array[Program_Service_Response])

### Get Program Service by Id [GET /api/medical_program]
This endpoint returns service program member by id. **Scopes required:** program_service:read.

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ meta (Response__Meta)
    + code (number) - 200
+ data (Program_Service_Response)

### Get Services Dictionary [GET /api/medical_program]
This web service returns a catalog of services that could be submitted in eHealth. The catalog has a tree data structure. Each node represents group of services (or sub-group), except end-node, that represents services themselves. Maximum nesting level is 4.

+ Parameters
+ `code` (string, required) - identifier
+ `name` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ meta (Response__Meta)
    + code (number) - 200
+ data (Service_in_group)

### Get Active Diagnoses (Summary) [GET /me/groups_of_diagnoses]
+ Parameters
+ `patient_id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer mF_9.B5f-4.1JqM
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection)

+ data (array, required)
    + (Diagnosis_Referrence_Condition)
    + (Diagnosis_Referrence_Condition_2)
# Group Administrative Info
## Administrative Info Endpoints [/]

### Get Divisions [GET /admin/divisions]
+ Parameters

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (crud_division_get)

### Update Division [GET /admin/divisions]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Attributes (crud_division_post)

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (crud_division_get)

### Create Division [GET /admin/divisions]
This method must be used to create new division in the system.
Note that different legal entity types can register specific division types and address types accordingly.
More details can be found [here](https://e-health-ua.atlassian.net/wiki/x/GQB7Iw).

+ Request (application/json)
+ Attributes (crud_division_post)

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (crud_division_get)

### Deactivate Division [GET /admin/divisions]
+ Parameters
+ `id` (string, required) - unique identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (crud_division_get)

### Activate Division [GET /admin/divisions]
+ `id` (string, required) - unique identifier
    + id (string) - d290f1ee-6c54-4b01-90e6-d701748f0851

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (crud_division_get)

### Get Division Details [GET /admin/divisions]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (crud_division_get)

### Get Legal Entities V2 [GET /admin/legal_entities]
Use this method to get list of legal entities filtering by parameters.
List consists of legal entities with parameter is_active = true.

+ Parameters
+ `edrpou` (string, required) - identifier
+ `legal_entity_id` (string, required) - identifier
+ `settlement_id` (string, required) - identifier
+ `type` (string, required) - identifier
+ `status` (string, required) - identifier
+ `nhs_verified` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array)
    + (object)
        + id (string) - b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
        + include Legal_Entity_Response_Public_V2
        + status (enum)
            - ACTIVE
            - INACTIVE
                - ACTIVE
            - CLOSED
            - SUSPENDED

### Get Legal Entity by Id V2 [GET /admin/legal_entities]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + id (string) - b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
    + include Legal_Entity_Response_Public_V2
    + status (enum)
        - ACTIVE
        - INACTIVE
            - ACTIVE
        - CLOSED
        - SUSPENDED
    + nhs_verified (boolean) - false
    + nhs_reviewed (boolean) - false - flag that shows whether legal entity was reviewed by nhs
    + nhs_comment (string) - comment - nhs's comment
+ urgent (object)
    + security (object)
        + secret_key (string) - secret_key
        + client_id (string) - client_id
        + redirect_uri (string) - redirect_uri - Redirect uri

### Create or Update Legal Entity V2 [GET /admin/legal_entities]
Key features and main differences from V1:

* *legal entity types and licenses are created/updated one by one, i.e. one legal entity type and one license are accepted in one call*
* *medical_services_providers structure is removed, accreditation and license parameters are moved to the root*
* *added EDR integration in order to validate and enrich legal entity data*
* *it can be also used to update owner data. In this case employee_id should be passed in the payload in the owner block*

User may accept or decline Invitation.
For changes to take effect employee must confirm the changes.
There is a method [**Dummy Create or Update Legal Entity V2**](https://esoz.docs.apiary.io/#reference/administration/legal-entities/dummy-create-or-update-legal-entity-v2)
that describes the latest legal entity data model and can be used as documentation.

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ signed_legal_entity_request (string) - ...
+ signed_content_encoding (string) - base64

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + id (string) - b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
    + include Legal_Entity_Response_Public
    + status (enum)
        - ACTIVE
        - INACTIVE
            - ACTIVE
        - CLOSED
        - SUSPENDED
    + nhs_verified (boolean) - false
    + nhs_reviewed (boolean) - false - flag that shows whether legal entity was reviewed by nhs
    + nhs_comment (string) - comment - nhs's comment
+ urgent (object)
    + security (object)
        + secret_key (string) - secret_key
        + client_id (string) - client_id
        + redirect_uri (string) - redirect_uri - Redirect uri
    + employee_request_id: d098aee7-5ab3-4a24-a6ba-811f9cf94c6d - Employee request identifier

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + id (string) - b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
    + include Legal_Entity_Response_Public_V2
    + status (enum)
        - ACTIVE
        - INACTIVE
            - ACTIVE
        - CLOSED
        - SUSPENDED
    + nhs_verified (boolean) - false
    + nhs_reviewed (boolean) - false - flag that shows whether legal entity was reviewed by nhs
    + nhs_comment (string) - comment - nhs's comment
    + is_active (boolean) - true
    + inserted_by (string) - A65C8369-CE3A-44D6-839B-8856E3DC4CA3
    + inserted_at (string) - 2005-10-30 10:45 - timestamp
    + created_by_mis_client_id (string) - A65C8369-CE3A-44D6-839B-8856E3DC4CA3
    + updated_at (string) - 1991-08-19T00:00:00.000Z
    + updated_by (string) - userid
+ urgent (object)
    + security (object)
        + secret_key (string) - secret_key
        + client_id (string) - client_id
        + redirect_uri (string) - redirect_uri - Redirect uri
    + employee_request_id: d098aee7-5ab3-4a24-a6ba-811f9cf94c6d - Employee request identifier

### Verify Legal Entity by NHS [GET /admin/legal_entities]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + include Legal_Entity_Request_Public_Short

### Deactivate Legal Entity [GET /admin/legal_entities]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (object)
    + include Legal_Entity_Request_Public_Short

### Get Related Legal Entities [GET /admin/legal_entities]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ meta (Response__Meta)
    + code (number) - 200
+ data (array[Legal_Entity_Related])

### Dummy Create or Update Legal Entity V2 [GET /admin/legal_entities]
+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
+ Attributes (object)

+ include Legal_Entity_Request_Public_V2

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + id (string) - b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
    + include Legal_Entity_Response_Public_V2
    + status (enum)
        - ACTIVE
        - INACTIVE
            - ACTIVE
        - CLOSED
        - SUSPENDED
    + nhs_verified (boolean) - false
    + nhs_reviewed (boolean) - false - flag that shows whether legal entity was reviewed by nhs
    + nhs_comment (string) - comment - nhs's comment
+ urgent (object)
    + security (object)
        + secret_key (string) - secret_key
        + client_id (string) - client_id
        + redirect_uri (string) - redirect_uri - Redirect uri
    + employee_request_id: d098aee7-5ab3-4a24-a6ba-811f9cf94c6d - Employee request identifier

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + id (string) - b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
    + include Legal_Entity_Response_Public_V2
    + status (enum)
        - ACTIVE
        - INACTIVE
            - ACTIVE
        - CLOSED
        - SUSPENDED
+ urgent (object)
    + security (object)
        + secret_key (string) - secret_key
        + client_id (string) - client_id
        + redirect_uri (string) - redirect_uri - Redirect uri
    + employee_request_id: d098aee7-5ab3-4a24-a6ba-811f9cf94c6d - Employee request identifier

### Create Equipment [GET /admin/equipment]
This method allows to register equipment and bind it with division of legal entity

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ include Equipment_base_v2

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (Equipment_response_v2)

### Get Equipment List [GET /admin/equipment]
+ Parameters
+ `division_id` (string, required) - identifier
+ `device_definition_id` (string, required) - identifier
+ `type` (string, required) - identifier
+ `status` (string, required) - identifier
+ `model_number` (string, required) - identifier
+ `manufacturer` (string, required) - identifier
+ `availability_status` (string, required) - identifier
+ `recorder` (string, required) - identifier
+ `inventory_number` (string, required) - identifier
+ `serial_number` (string, required) - identifier
+ `name` (string, required) - identifier
+ `created_from` (string, required) - identifier
+ `created_to` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    
+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Equipment_response_v2])

### Get Equipment Details by Id [GET /admin/equipment]
+ Parameters
+ `id` (string, required) - unique identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    
+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (Equipment_response_v2)

### Change Equipment Status [GET /admin/equipment]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
+ Attributes (object)

+ status (string) - entered_in_error - New equipment status Dictionary: equipment_statuses
+ error_reason (string) - Out of service - Error reason Dictionary: equipment_status_reasons

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (Equipment_response_v2)
    - status (string) - entered_in_error - New equipment status Dictionary: equipment_statuses
    - error_reason: Out of service (string) - Error reason Dictionary: equipment_status_reasons

### Change Equipment Availability Status [GET /admin/equipment]
+ Parameters
+ `id` (string, required) - unique identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
+ Attributes (object)

+ availability_status (string) - damaged - New equipment status

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (Equipment_response_v2)
    - availability_status (string) - damaged - New equipment status

### Licenses [GET /admin/equipment]

### Get Licenses [GET /admin/equipment]
Use this end-point to obtain all Licenses of the legal entity.

+ Parameters
+ `id` (string, required) - identifier
+ `license_number` (string, required) - identifier
+ `type` (string, required) - identifier
+ `is_primary` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[crud_licenses_get])

+ Response 200 (application/json)

### Create License [GET /admin/equipment]
This method must be used to create additional licenses for legal entity (is_primary=false) in the system.
Primary license must be added with Create or Update Legal Entity method.

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (crud_licenses_post)

+ is_primary (boolean) - false

+ Response 201 (application/json)
+ Attributes (Response_OK)

+ data (crud_licenses_get)

+ Response 200 (application/json)

### Update License [GET /admin/equipment]
This method must be used to update additional license (is_primary=false) for legal entity in the system.
Primary license must be updated with Create or Update Legal Entity method.

+ Parameters

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (crud_licenses_post)

+ is_primary (boolean) - false

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (crud_licenses_get)

### Get Contracts List [GET /gen/contract]
+ Parameters
+ `id` (string, required) - identifier
+ `contractor_legal_entity_id` (string, required) - identifier
+ `edrpou` (string, required) - identifier
+ `contractor_owner_id` (string, required) - identifier
+ `nhs_signer_id` (string, required) - identifier
+ `is_suspended` (string, required) - identifier
+ `status` (string, required) - identifier
+ `contract_number` (string, required) - identifier
+ `date_from_start_date` (string, required) - identifier
+ `date_to_start_date` (string, required) - identifier
+ `date_from_end_date` (string, required) - identifier
+ `date_to_end_date` (string, required) - identifier
+ `medical_program_id` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier
+ `contract_type` (string, required) - identifier
+ `contract_type}` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Contracts_list_capitation])
+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Contracts_list_reimbursement])

### Get Contract Details [GET /gen/contract]
+ Parameters
+ `id` (string, required) - identifier
+ `contract_type` (string, required) - identifier
+ `unique_12312` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + include Contract_Details_Capitation
+ urgent (object)
    + documents (array[contract_media_content], optional)
+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + include Contract_Details_Reimbursement
+ urgent (object)
    + documents (array[contract_media_content], optional)

### Get Contract Printout Form [GET /gen/contract]
+ Parameters
+ `id` (string, required) - identifier
+ `contract_type` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + id (string) - d290f1ee-6c54-4b01-90e6-d701748f0851 - contract identifier
    + printout_content (string) - Contract content - HTML document for contract

### Initialize Contract Request [GET /gen/contract]
+ Parameters
+ `contract_type` (string, required) - identifier
+ `contract_type}` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + include Init_contract_request_response

### Create Contract Request [GET /gen/contract]
+ Parameters
+ `contract_type` (string, required) - identifier
+ `id` (string, required) - identifier

#### Contract_request object scheme to be signed

The following tables describes contract_request object fields and its child objects.

There are two types of schemas depending on contract_type} - capitation version and reimbursement version
For reimbursement version only documents are optional.

##### Capitation Contract_request

+ Parameters
+ `id` (string, required) - identifier
+ `contract_type` (string, required) - identifier
##### Reimbursement Contract_request

#### Contractor_payment_details

#### Contractor_employee_division

#### External_contractors

#### Contract

#### Division

#### Business ruels

1. Create new or update existsing contract

> 1.1 In order to create new contract, contract_number should be empty, start_date and end_date should be filled.
> 1.2 In order to update existing contract, contract_number should be filled, start_date and end_date should be empty. Existing contract must be in VERIFIED status.

2. External contractors

> 2.1 In case you have external_contractors - external_contractors_flag should be set as true and external_contractors array must be provided (filled).
> 2.2 In case you don't have external_contractors - external_contractors_flag should be set as false and external_contractors array should not be provided.

#### JSON example

Capitation version:

{
  "contractor_owner_id": "df9f70ee-4b12-4740-b0f5-bb5aea116863",
  "contractor_base": "на підставі статуту",
  "previous_request_id": "df9f70ee-4b12-4740-b0f5-bb5aea116863",
  "contractor_payment_details": {
"payer_account": "UA3412345678901234567890",
"bank_name": "Банк №1"
  },
  "contractor_divisions": [
"adeac295-0d39-4a8e-8e16-9526787de3f1"
  ],
  "external_contractor_flag": true,
   "external_contractors": [
{
  "legal_entity_id": "443e901e-b365-45d2-be14-083ee0aba657",
  "contract": {
"number": "1234567",
"issued_at": "2018-01-01",
"expires_at": "2019-01-01"
  },
  "divisions": [
{
  "id": "2922a240-63db-404e-b730-09222bfeb2dd",
  "medical_service": "PHC_SERVICES"
}
  ]
}
  ],
  "start_date": "2017-04-20",
  "end_date": "2017-04-20",
  "id_form": "PMD_1",
  "contract_number": "0000-9EAX-XT7X-3115",
  "statute_md5": "db218b04eff70f86f40c1572ce8ca16a",
  "additional_document_md5": "ac642b04eff40f86f40c1572ce8ca16a",
  "consent_text": "Цією заявою Заявник висловлює бажання укласти договір про медичне обслуговування населення за програмою державних гарантій медичного обслуговування населення (далі – Договір) на умовах, визначених в оголошенні про укладення договорів про медичне обслуговування населення (далі – Оголошення). Заявник підтверджує, що: 1. на момент подання цієї заяви Заявник має чинну ліцензію на провадження господарської діяльності з медичної практики та відповідає ліцензійним умовам з медичної практики; 2. Заявник надає медичні послуги, пов’язані з первинною медичною допомогою (далі – ПМД); 3. Заявник зареєстрований в електронній системі охорони здоров’я (далі – Система); 4. уповноважені особи та медичні працівники, які будуть залучені до виконання Договору, зареєстровані в Системі та отримали електронний цифровий підпис (далі – ЕЦП); 5. в кожному місці надання медичних послуг Заявника наявне матеріально-технічне оснащення, передбачене розділом І Примірного табелю матеріально-технічного оснащення закладів охорони здоров’я та фізичних осіб – підприємців, які надають ПМД, затвердженого наказом Міністерства охорони здоров’я України від 26 січня 2018 року № 148; 6. установчими або іншими документами не обмежено право керівника Заявника підписувати договори від імені Заявника без попереднього погодження власника. Якщо таке право обмежено, у тому числі щодо укладання договорів, ціна яких перевищує встановлену суму, Заявник повідомить про це Національну службу здоров’я та отримає необхідні погодження від власника до моменту підписання договору зі сторони Заявника; 7. інформація, зазначена Заявником у цій Заяві та доданих до неї документах, а також інформація, внесена Заявником (його уповноваженими особами) до Системи, є повною та достовірною. Заявник усвідомлює, що у разі зміни інформації, зазначеної Заявником у цій заяві та (або) доданих до неї документах Заявник зобов’язаний повідомити про такі зміни НСЗУ протягом трьох робочих днів з дня настання таких змін шляхом надсилання інформації про такі зміни на електронну пошту dohovir@nszu.gov.ua, з одночасним внесенням таких змін в Систему. Заявник усвідомлює, що законодавством України передбачена відповідальність за подання недостовірної інформації органам державної влади."
}

Reimbursement version:

{
  "contractor_owner_id": "df9f70ee-4b12-4740-b0f5-bb5aea116863",
  "contractor_base": "на підставі статуту",
  "previous_request_id": "df9f70ee-4b12-4740-b0f5-bb5aea116863",
  "contractor_payment_details": {
"payer_account": "UA3412345678901234567890",
"bank_name": "Банк №1"
  },
  "start_date": "2019-04-20",
  "end_date": "2020-04-19",
  "id_form": "PMD_1",
  "contract_number": "0000-9EAX-XT7X",
  "statute_md5": "db218b04eff70f86f40c1572ce8ca16a",
  "additional_document_md5": "ac642b04eff40f86f40c1572ce8ca16a",
  "medical_programs": [
"3922a240-63db-404e-b730-09222bfeb2d1"
  ]
  "consent_text": "Цією заявою Заявник висловлює бажання укласти договір про реімбурсацію з Національною службою здоров'я України та підтверджує, що на момент подання цієї заяви Заявник провадить господарську діяльність на підставі ліцензії на провадження господарської діяльності з роздрібної торгівлі лікарськими засобами та відповідає ліцензійним умовам. Заявник усвідомлює, що у разі зміни інформації, зазначеної Заявником у цій заяві та (або) доданих до неї документах Заявник зобов'язаний повідомити про такі зміни НСЗУ протягом трьох робочих днів з дня настання таких змін шляхом надсилання інформації про такі зміни на електронну пошту dohovir@nszu.gov.ua, з одночасним внесенням таких змін в Систему. Заявник усвідомлює, що законодавством України передбачена відповідальність за подання недостовірної інформації органам державної влади."
}

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ include Contract_request_Request_signed

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + include Contract_request_Details_Capitation

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + include Contract_request_Details_Reimbursement

### Get Contract Request Details [GET /gen/contract]
+ Parameters
+ `id` (string, required) - identifier
+ `contract_type` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + include Contract_request_Details_Capitation
+ urgent (object)
    + documents (array[contract_media_content], optional)

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + include Contract_request_Details_Reimbursement
+ urgent (object)
    + documents (array[contract_media_content], optional)

### Get Contract Requests List [GET /gen/contract]
+ Parameters
+ `contract_type` (string, required) - identifier
+ `unique_12643` (string, required) - identifier
+ `duplicate` (string, required) - identifier
+ `id` (string, required) - identifier
+ `contractor_legal_entity_id` (string, required) - identifier
+ `edrpou` (string, required) - identifier
+ `contractor_owner_id` (string, required) - identifier
+ `nhs_signer_id` (string, required) - identifier
+ `issue_city` (string, required) - identifier
+ `status` (string, required) - identifier
+ `contract_number` (string, required) - identifier
+ `medical_program_id` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier
+ `contract_type}` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Contract_request_list_capitation])
+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Contract_request_list_reimbursement])

### Approve Contract Request by MSP [GET /gen/contract]
+ Parameters
+ `id` (string, required) - identifier
+ `contract_type` (string, required) - identifier
+ `duplicate` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (object)
    + include Contract_request_Details_Capitation
+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (object)
    + include Contract_request_Details_Reimbursement

### Terminate Contract Request by MSP [GET /gen/contract]
+ Parameters
+ `id` (string, required) - identifier
+ `contract_type` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ status_reason (string) - Неправильний період контракту - the reason of terminated status

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (object)
    + include Contract_request_Details_Reimbursement

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (object)
    + include Contract_request_Details_Capitation

### Get Contract Request Printout Content [GET /gen/contract]
+ Parameters
+ `contract_type` (string, required) - identifier
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (object)
    + id (string) - d290f1ee-6c54-4b01-90e6-d701748f0851 - contract request identifier
    + printout_content (string) - Contract request content - HTML document for contract request, is shown contract request in status 'PENDING_NHS_SIGN'

### Sign Contract Request by MSP [GET /gen/contract]
+ Parameters
+ `id` (string, required) - identifier
+ `contract_type` (string, required) - identifier

+ Request (application/json)

+ Headers

    Authorization: Bearer c2778f3064753ea70de870a53795f5c9
    X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ signed_content (string) - MIIU2wYJKoZIhvcNAQcCoIIUzDCCFMgCAQExDjAMBgoqhiQCAQEBAQIBMIIG+QYJKoZIhvcNAQcBoIIG6gSCBuZ7CiAgICAiaWQiOiAiMDkxMDZiNzAtMThiMC00NzI2LWIwZWQtNmJkYTEzNjlmZDUyIiwKICAgICJjb250cmFjdG9yX293bmVyX2lkIjogImRmOWY3MGVlLTRiMTItNDc0MC1iMGY1LWJiNWFlYTExNjg2MyIsCiAgICAiY29udHJhY3Rvcl9iYXNlIjogItC90LAg0L/RltC00YHRgtCw0LLRliDQt9Cw0LrQvtC90YMg0L/RgNC+INCc0LXQtNC40YfQvdC1INC+0LHRgdC70YPQs9C+0LLRg9Cy0LDQvdC90Y8g0L3QsNGB0LXQu9C10L3QvdGPIiwKICAgICJjb250cmFjdG9yX3BheW1lbnRfZGV0YWlscyI6IHsKICAgICAgImJhbmtfbmFtZSI6ICLQkdCw0L3QuiDQvdC+0LzQtdGAIDEiLAogICAgICAiTUZPIjogIjM1MTAwNSIsCiAgICAgICJwYXllcl9hY2NvdW50IjogIjMyMDA5MTAyNzAxMDI2IgogICAgfSwKICAgICJjb250cmFjdG9yX3Jtc3BfYW1vdW50IjogNTAwMDAsCiAgICAiZXh0ZXJuYWxfY29udHJhY3Rvcl9mbGFnIjogdHJ1ZSwKICAgICJleHRlcm5hbF9jb250cmFjdG9ycyI6IHsKICAgICAgImxlZ2FsX2VudGl0eV9pZCI6ICIyOTIyYTI0MC02M2RiLTQwNGUtYjczMC0wOTIyMmJmZWIyZGQiLAogICAgICAiY29udHJhY3QiOiB7CiAgICAgICAgIm51bWJlciI6ICIxMjM0NTY3IiwKICAgICAgICAiaXNzdWVkX2F0IjogIjIwMTgtMDEtMDEiLAogICAgICAgICJleHBpcmVzX2F0IjogIjIwMTktMDEtMDEiCiAgICAgIH0sCiAgICAgICJkaXZpc2lvbnMiOiBbCiAgICAgICAgewogICAgICAgICAgImlkIjogIjI5MjJhMjQwLTYzZGItNDA0ZS1iNzMwLTA5MjIyYmZlYjJkZCIsCiAgICAgICAgICAibWVkaWNhbF9zZXJ2aWNlIjogItCf0L7RgdC70YPQs9CwINCf0JzQlCIKICAgICAgICB9CiAgICAgIF0KICAgIH0sCiAgICAiY29udHJhY3Rvcl9lbXBsb3llZV9kaXZpc2lvbnMiOiBbCiAgICAgIHsKICAgICAgICAiZW1wbG95ZWVfaWQiOiAiMjkyMmEyNDAtNjNkYi00MDRlLWI3MzAtMDkyMjJiZmViMmRkIiwKICAgICAgICAic3RhZmZfdW5pdHMiOiAwLjUsCiAgICAgICAgImRlY2xhcmF0aW9uX2xpbWl0IjogMjAwMCwKICAgICAgICAiZGl2aXNpb25faWQiOiAiMjkyMmEyNDAtNjNkYi00MDRlLWI3MzAtMDkyMjJiZmViMmRkIgogICAgICB9CiAgICBdLAogICAgImlkX2Zvcm0iOiAiNSIsCiAgICAibmhzX3NpZ25lcl9iYXNlIjogItC90LAg0L/RltC00YHRgtCw0LLRliDQvdCw0LrQsNC30YMiLAogICAgIm5oc19jb250cmFjdF9wcmljZSI6IDUwMDAwLAogICAgIm5oc19wYXltZW50X21ldGhvZCI6ICJwcmVwYXltZW50IiwKICAgICJpc3N1ZV9jaXR5IjogItCa0LjRl9CyIiwKICAgICJzdGF0dXMiOiAiTkVXIiwKICAgICJzdGF0dXNfcmVhc29uIjogItCd0LUg0LLRltC00L/QvtCy0ZbQtNCw0ZQg0L/QvtC/0LXRgNC10LTQvdGW0Lwg0LTQvtC80L7QstC70LXQvdC+0YHRgtGP0LwiLAogICAgIm5oc19zaWduZXJfaWQiOiAiZGY5ZjcwZWUtNGIxMi00NzQwLWIwZjUtYmI1YWVhMTE2ODYzIiwKICAgICJuaHNfbGVnYWxfZW50aXR5X2lkIjogImRmOWY3MGVlLTRiMTItNDc0MC1iMGY1LWJiNWFlYTExNjg2MyIsCiAgICAiY29udHJhY3RfbnVtYmVyIjogIjAwMDAtOUVBWC1YVDdYLTMxMTUiLAogICAgImNvbnRyYWN0X2lkIjogImRmOWY3MGVlLTRiMTItNDc0MC1iMGY1LWJiNWFlYTExNjg2MyIsCiAgICAic3RhcnRfZGF0ZSI6ICIyMDE3LTA0LTIwIiwKICAgICJlbmRfZGF0ZSI6ICIyMDE3LTA0LTIwIiwKICAgICJwcmludG91dF9jb250ZW50IjogIkNvbnRyYWN0IHJlcXVlc3QgY29udGVudCIKICB9CqCCBbkwggW1MIIFXaADAgECAhQNhO2hu5OB6AQAAABetCIAv7N0ADANBgsqhiQCAQEBAQMBATCCAUIxfDB6BgNVBAoMc9Cf0KPQkdCb0IbQp9Cd0JUg0JDQmtCm0IbQntCd0JXQoNCd0JUg0KLQntCS0JDQoNCY0KHQotCS0J4g0JrQntCc0JXQoNCm0IbQmdCd0JjQmSDQkdCQ0J3QmiDCq9Cf0KDQmNCS0JDQotCR0JDQndCawrsxETAPBgNVBAsMCNCQ0KbQodCaMTYwNAYDVQQDDC3QkNCm0KHQmiDQn9CQ0KIg0JrQkSDCq9Cf0KDQmNCS0JDQotCR0JDQndCawrsxFjAUBgNVBAUMDVVBLTE0MzYwNTcwLTExCzAJBgNVBAYTAlVBMScwJQYDVQQHDB7QlNC90ZbQv9GA0L7Qv9C10YLRgNC+0LLRgdGM0LoxKTAnBgNVBAgMINCU0L3RltC/0YDQvtC/0LXRgtGA0L7QstGB0YzQutCwMB4XDTE4MDEyMzE0NTMzNFoXDTE5MDEyMzIxNTk1OVowggETMSIwIAYDVQQKDBnQpNCG0JfQmNCn0J3QkCDQntCh0J7QkdCQMTkwNwYDVQQDDDDQn9CY0KDQntCT0J7QkiDQhNCS0JPQldCdINCS0JDQm9CV0KDQhtCZ0J7QktCY0KcxFzAVBgNVBAQMDtCf0JjQoNCe0JPQntCSMSowKAYDVQQqDCHQhNCS0JPQldCdINCS0JDQm9CV0KDQhtCZ0J7QktCY0KcxEDAOBgNVBAUMBzIyNzQzOTgxCzAJBgNVBAYTAlVBMScwJQYDVQQHDB7QnC4g0JrQoNCe0J/QmNCS0J3QmNCm0KzQmtCY0JkxJTAjBgNVBAgMHNCa0IbQoNCe0JLQntCT0KDQkNCU0KHQrNCa0JAwRjAeBgsqhiQCAQEBAQMBATAPBg0qhiQCAQEBAQMBAQIGAyQABCGNGaguWpXdyBk172CZxkuWynHt6GAUImGZI9ZFJp6oMAGjggJqMIICZjApBgNVHQ4EIgQgztjUwYvcULAWp/FyOQUBNpFx9HsyWh9lgiY21nLzYEkwKwYDVR0jBCQwIoAgjYTtobuTgejDEZCorJKFP8TYx4TGSgG4NxFX2F0YVVcwLwYDVR0QBCgwJqARGA8yMDE4MDEyMzE0NTMzNFqhERgPMjAxOTAxMjMyMTU5NTlaMA4GA1UdDwEB/wQEAwIGwDAZBgNVHSABAf8EDzANMAsGCSqGJAIBAQECAjAMBgNVHRMBAf8EAjAAMB4GCCsGAQUFBwEDAQH/BA8wDTALBgkqhiQCAQEBAgEwOAYDVR0fBDEwLzAtoCugKYYnaHR0cDovL2Fjc2sucHJpdmF0YmFuay51YS9jcmwvUEItUzkuY3JsMEMGA1UdLgQ8MDowOKA2oDSGMmh0dHA6Ly9hY3NrLnByaXZhdGJhbmsudWEvY3JsZGVsdGEvUEItRGVsdGEtUzkuY3JsMIGUBggrBgEFBQcBAQSBhzCBhDA0BggrBgEFBQcwAYYoaHR0cDovL2Fjc2sucHJpdmF0YmFuay51YS9zZXJ2aWNlcy9vY3NwLzBMBggrBgEFBQcwAoZAaHR0cDovL2Fjc2sucHJpdmF0YmFuay51YS9kb3dubG9hZC9jZXJ0aWZpY2F0ZXMvY2VydGlmaWNhdGVzLnA3YjBDBggrBgEFBQcBCwQ3MDUwMwYIKwYBBQUHMAOGJ2h0dHA6Ly9hY3NrLnByaXZhdGJhbmsudWEvc2VydmljZXMvdHNwLzAnBgNVHQkEIDAeMBwGDCqGJAIBAQELAQQBATEMEwozMjI4NTEyNTk3MA0GCyqGJAIBAQEBAwEBA0MABEDV3X/RhIP0TLUcuXc1cIKv01Z1mOPnNhodBM1sVKyxJji/HjkgYpt48+Eew05fWwuFs9LytruxRJ16E7mL7G1PMYIH9zCCB/MCAQEwggFcMIIBQjF8MHoGA1UECgxz0J/Qo9CR0JvQhtCn0J3QlSDQkNCa0KbQhtCe0J3QldCg0J3QlSDQotCe0JLQkNCg0JjQodCi0JLQniDQmtCe0JzQldCg0KbQhtCZ0J3QmNCZINCR0JDQndCaIMKr0J/QoNCY0JLQkNCi0JHQkNCd0JrCuzERMA8GA1UECwwI0JDQptCh0JoxNjA0BgNVBAMMLdCQ0KbQodCaINCf0JDQoiDQmtCRIMKr0J/QoNCY0JLQkNCi0JHQkNCd0JrCuzEWMBQGA1UEBQwNVUEtMTQzNjA1NzAtMTELMAkGA1UEBhMCVUExJzAlBgNVBAcMHtCU0L3RltC/0YDQvtC/0LXRgtGA0L7QstGB0YzQujEpMCcGA1UECAwg0JTQvdGW0L/RgNC+0L/QtdGC0YDQvtCy0YHRjNC60LACFA2E7aG7k4HoBAAAAF60IgC/s3QAMAwGCiqGJAIBAQEBAgGgggYtMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE4MDQyMzExMTY1MlowLwYJKoZIhvcNAQkEMSIEIMAdYVO8e/4E9usncxHy/CN128dFo878R/guITulNEtLMIIBtQYLKoZIhvcNAQkQAi8xggGkMIIBoDCCAZwwggGYMAwGCiqGJAIBAQEBAgEEIA7ygmjZ8tufBvOKqZW++z4W7TJu9MmyYGLG7gQ/RMCOMIIBZDCCAUqkggFGMIIBQjF8MHoGA1UECgxz0J/Qo9CR0JvQhtCn0J3QlSDQkNCa0KbQhtCe0J3QldCg0J3QlSDQotCe0JLQkNCg0JjQodCi0JLQniDQmtCe0JzQldCg0KbQhtCZ0J3QmNCZINCR0JDQndCaIMKr0J/QoNCY0JLQkNCi0JHQkNCd0JrCuzERMA8GA1UECwwI0JDQptCh0JoxNjA0BgNVBAMMLdCQ0KbQodCaINCf0JDQoiDQmtCRIMKr0J/QoNCY0JLQkNCi0JHQkNCd0JrCuzEWMBQGA1UEBQwNVUEtMTQzNjA1NzAtMTELMAkGA1UEBhMCVUExJzAlBgNVBAcMHtCU0L3RltC/0YDQvtC/0LXRgtGA0L7QstGB0YzQujEpMCcGA1UECAwg0JTQvdGW0L/RgNC+0L/QtdGC0YDQvtCy0YHRjNC60LACFA2E7aG7k4HoBAAAAF60IgC/s3QAMIIEBwYLKoZIhvcNAQkQAhQxggP2MIID8gYJKoZIhvcNAQcCoIID4zCCA98CAQMxDjAMBgoqhiQCAQEBAQIBMGsGCyqGSIb3DQEJEAEEoFwEWjBYAgEBBgoqhiQCAQEBAgMBMDAwDAYKKoYkAgEBAQECAQQgwB1hU7x7/gT26ydzEfL8I3Xbx0WjzvxH+C4hO6U0S0sCBA7BQYgYDzIwMTgwNDIzMTExNzI1WjGCA1swggNXAgEBMIIBEzCB+jE/MD0GA1UECgw20JzRltC90ZbRgdGC0LXRgNGB0YLQstC+INGO0YHRgtC40YbRltGXINCj0LrRgNCw0ZfQvdC4MTEwLwYDVQQLDCjQkNC00LzRltC90ZbRgdGC0YDQsNGC0L7RgCDQhtCi0KEg0KbQl9CeMUkwRwYDVQQDDEDQptC10L3RgtGA0LDQu9GM0L3QuNC5INC30LDRgdCy0ZbQtNGH0YPQstCw0LvRjNC90LjQuSDQvtGA0LPQsNC9MRkwFwYDVQQFDBBVQS0wMDAxNTYyMi0yMDEyMQswCQYDVQQGEwJVQTERMA8GA1UEBwwI0JrQuNGX0LICFDAEdR3vLHiuAgAAAAEAAABKAAAAMAwGCiqGJAIBAQEBAgGgggHaMBoGCSqGSIb3DQEJAzENBgsqhkiG9w0BCRABBDAcBgkqhkiG9w0BCQUxDxcNMTgwNDIzMTExNzI1WjAvBgkqhkiG9w0BCQQxIgQgCJtCNs3qiVo9TGE/mRMPNzCm/+JJKMtYsovNFgQLyPAwggFrBgsqhkiG9w0BCRACLzGCAVowggFWMIIBUjCCAU4wDAYKKoYkAgEBAQECAQQg2Q2mtkhTwy2/l7j25VzNasV5UgPimES648nWVhtnvOowggEaMIIBAKSB/TCB+jE/MD0GA1UECgw20JzRltC90ZbRgdGC0LXRgNGB0YLQstC+INGO0YHRgtC40YbRltGXINCj0LrRgNCw0ZfQvdC4MTEwLwYDVQQLDCjQkNC00LzRltC90ZbRgdGC0YDQsNGC0L7RgCDQhtCi0KEg0KbQl9CeMUkwRwYDVQQDDEDQptC10L3RgtGA0LDQu9GM0L3QuNC5INC30LDRgdCy0ZbQtNGH0YPQstCw0LvRjNC90LjQuSDQvtGA0LPQsNC9MRkwFwYDVQQFDBBVQS0wMDAxNTYyMi0yMDEyMQswCQYDVQQGEwJVQTERMA8GA1UEBwwI0JrQuNGX0LICFDAEdR3vLHiuAgAAAAEAAABKAAAAMA0GCyqGJAIBAQEBAwEBBEDE0LghB5AMretfTrP7pmjj0cylQFjujnRSeUBFXCcvPDF+6IWQ5lhhvgxVNsUFPVfd4TKdcBxe3NQa90gvYxRAMA0GCyqGJAIBAQEBAwEBBED0SMMU1AsD2jQYZw8yVJMcrgpsVIhaPx+v7qWaNo5KRc8F/v8xoDQAmts/LmvybnwRuAOOiKPw4MwZEG2KIoNO
+ signed_content_encoding (string) - base64
+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (object)
    + include Contract_Details_Reimbursement

### Get Employees List [GET /gen/employee]
The set of the end-points may be used to manage Doctors, HR's and Accountants that
are employed by legal entity (such as Medical Service Provider).

According to the strong binding of the Employees to the Employer (legal entity)
all GET-endpoints returning Employee info are mounted through the
/legal_entities/{legal_entity_id} path.

+ Parameters
+ `no_tax_id` (string, required) - identifier
+ `tax_id` (string, required) - identifier
+ `party_id` (string, required) - identifier
+ `edrpou` (string, required) - identifier
+ `legal_entity_id` (string, required) - identifier
+ `division_id` (string, required) - identifier
+ `status` (string, required) - identifier
+ `employee_type` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier
+ `verification_status` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Employee_Short])

### Get Employee Details [GET /gen/employee]
+ Parameters
+ `verification_status` (string, required) - identifier
+ `employee_id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (Employee_Response)
    + division (Division_Short)
    + legal_entity (Legal_Entity_Short)
        + legal_form (string) - 140 - Business form of legal entity received from edr - Use dictionary LEGAL_FORM to show the name
        + owner_property_type (string) - STATE - Dictionary OWNER_PROPERTY_TYPE
        + mis_verified (string) - VERIFIED, NOT_VERIFIED

### Deactivate Employee [GET /gen/employee]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
+ Attributes (object)

+ status (string) - STOPPED - reasons for deactivation: STOPPED or ENTERED IN ERROR
+ end_date (string) - 2017-09-01 - the actual date of termination the employee in the specified position. Required for status = STOPPED

+ Response 200 (application/json)
+ Attributes (Response_OK)

+ data (Employee_Response)
    + id (string) - d290f1ee-6c54-4b01-90e6-d701748f0851
    + division (Division_Short)
        + legal_entity (Legal_Entity_Short)
    + status (enum,required)
        - ACTIVE
        - INACTIVE
            - ACTIVE

### PIS Get Employees [GET /gen/employee]
Get employees.

+ Parameters
+ `depth` (string, required) - identifier

+ Request (application/json)
+ Headers
api-key: L0RWeXV6a2tQWEp3OTJaM0RkYzBmQT09

+ Response 200 (application/json)
+ Attributes (Response_Collection_wo_Paging_with_Date)

+ data (array[Employee_bulk])

### PIS Get Employee Roles [GET /gen/employee]
Get employee roles.

+ Parameters
+ `depth` (string, required) - identifier

+ Request (application/json)
+ Headers
api-key: L0RWeXV6a2tQWEp3OTJaM0RkYzBmQT09

+ Response 200 (application/json)
+ Attributes (Response_Collection_wo_Paging_with_Date)

+ data (array[Employee_role_bulk])

### Create Employee Request [GET /gen/employee_requests]
Employee_Request consist of the three mandatory parts:
* Person info
* Employee info the specialties block should contain all the specialties of the employee
* User Info

For **MED_ADMIN** or **MED_COORDINATOR**:
* Employee could have zero or one record with speciality_officio=true value

For **DOCTOR** or **PHARMACIST**:
* Doctor ot Pharmacist info

Additionally to register/update Physician the Doctor info for Doctors and Pharmacist info for Pharmacist should be passed.
When the Employee_Request will be posted the Invitation e-mail with a request
secret token will be sent to the User specified in the request.
In case the employee doesn't have tax_id no_tax_id must be true and in fields tax_id input passport number (serial number in cyrillic without spaces)
It can be also used to update employee data. In this case employee_id should be passed in the payload.
User may accept or decline Invitation.

For changes to take effect employee must confirm the changes.
Method receives signed message (pkcs7) including signed content, digital signature and signer public key.
All signature fields will be validated (including signer certificate authority).
Signed content MUST consists of JSON object with the employee_request block of [data](https://uaehealthapi.docs.apiary.io/#reference/dummy-methods/dummy-for-employee-request/create-employee-request-v2):

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ signed_content (string) - ...
+ signed_content_encoding (string) - base64

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (Employee_Request_Details)
    + id (string) - b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
    + inserted_at (string) - 2017-05-05T14:09:59.232112
    + updated_at (string) - 2017-05-05T14:09:59.232112

### Get Employee Requests List [GET /gen/employee_requests]
+ Parameters
+ `id` (string, required) - unique identifier
+ `edrpou` (string, required) - identifier
+ `legal_entity_name` (string, required) - identifier
+ `no_tax_id` (string, required) - identifier
+ `status` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Employee_Request_Short])

### Get Employee Request by Id [GET /gen/employee_requests]
+ Parameters
+ `id` (string, required) - identifier

+ Request
+ Headers
Authorization (string) - Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (Employee_Request_Details)
    + id (string) - b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
    + inserted_at (string) - 2017-05-05T14:09:59.232112
    + updated_at (string) - 2017-05-05T14:09:59.232112
+ urgent (object)
    + user_id (string) - d290f1ee-6c54-4b01-90e6-d701748f0851

### Approve or Reject Employee Request [GET /gen/employee_requests]
+ Parameters
+ `id` (string, required) - unique identifier
+ `action` (string, required) - identifier

+ Request (application/json)
+ Headers
Authorization: Bearer YW5WcFkyVnFkV2xqWldwMWFXTmxDZzpjY1hwWTR0cWRZbGVjNHAxYUdsMXVJ
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response_OK)

### Get Employee ID by Employee Request ID [GET /gen/employee_requests]
+ Parameters
+ `id` (string, required) - identifier

+ Request
+ Headers
Authorization (string) - Bearer c2778f3064753ea70de870a53795f5c9
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data
    + id (string) - b075f148-7f93-4fc2-b2ec-2d81b19a9b7b
    + employee_id (string) - 836c4753-ece4-44ba-b63c-0f92900535bf
    + status (string) - APPROVED
    + updated_at (string) - 2017-05-05T14:09:59.232112

### Add Employee Role [GET /api/employee_roles]
+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
API-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
+ Attributes (Employee_role_base)

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (Employee_role_response)

### Get Employee Roles [GET /api/employee_roles]
At least one query parameter must be provided.

+ Parameters
+ `employee_id` (string, required) - identifier
+ `healthcare_service_id` (string, required) - identifier
+ `status` (string, required) - identifier
+ `page` (string, required) - identifier
+ `page_size` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response_Collection_V2)

+ data (array[Employee_role_response])

### Get Employee Role by Id [GET /api/employee_roles]
+ Parameters
+ `id` (string, required) - identifier
+ `unique_13298` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (Employee_role_response)

### Deactivate Employee Role [GET /api/employee_roles]
+ Parameters
+ `id` (string, required) - identifier

+ Response 200 (application/json)
+ Attributes (Response__Process_OK)

+ data (Employee_role_response)
    - status: INACTIVE
# Group Personal Info
## Personal Info Endpoints [/]

### Create/Update Person Request [GET /il/person_requests]
[Person Request]() is a life-cycle entity that is used to create person WITHOUT [Declarations]().

This method will be deprecated. Use **Create/Update Person Request v2**.

This method is used to create Person Request (as part of Person creation w/o declaration process).
Upon successful completion of the whole process, a person is created in MPI.

**NOTE:** Also this method allows you to update the person’s data according to his id, which was previously found.

A block with information about authentication methods must be transferred when the person is created.
But it is prohibited to transfer it when updating the person.

This table shows which fields can be set for specific action:

Actions       | person.id     | person.authentication_methods
--------------|---------------|--------------------
**Create**    |      -        | required
**Update**    | required      |     -

There are three methods of authentication - OTP, OFFLINE and the THIRD_PERSON.
A person > 14 years can have OTP or OFFLINE.
A person < 14 years can only have authentication method = THIRD PERSON.

More detailed information - https://e-health-ua.atlassian.net/wiki/x/KoAfIw

+ Request (application/json)
+ Headers
Authorization: Bearer c2778f3064753ea70de870a53795f5c9
api-key: uXhEczJ56adsfh3Ri9SUkc4en
X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ person (required)
    + id (string) - 13001c60-45a0-4b5a-b425-9505e1de18bd - MPI id of the person
    + include Person_info_Public
+ patient_signed (boolean) - false - Person's evidence of sign the person request
+ process_disclosure_data_consent (boolean) - true - Person's evidence of information about consent to data disclosure
+ authorize_with (string) - cc949559-5dfe-420f-ac05-065e443b2cc6 - identifier of person's auth method

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (object)
    + status: SIGNED (enum)
        - NEW
        - APPROVED
        - SIGNED
        - CANCELLED
        - REJECTED
    + id (string) - eeebb86d-5cba-43c9-885b-6482ecaf826b
    + person (required)
        + id (string) - 13001c60-45a0-4b5a-b425-9505e1de18bd - MPI id of the person
        + include Person_info_Public
    + patient_signed (boolean) - false - Person's evidence of sign the person request
    + process_disclosure_data_consent (boolean) - true - Person's evidence of information about consent to data disclosure
    + channel (string) - MIS - channel that invoke person request create service
    + authorize_with (string) - cc949559-5dfe-420f-ac05-065e443b2cc6- identifier of person's auth method
+ urgent (object)
    + authentication_method_current (array[Authentication_Method], required)
    
    + documents (array[media_content], optional)

+ Response 422 (application/json)
+ Attributes (Response_Error)

+ meta (Response__Meta)
    + code: 422
+ error
    + type (string) - unverified
    + message (string) - Unverified phone number

### Approve Person Request [GET /il/person_requests]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)

+ Headers

    Authorization: Bearer c2778f3064753ea70de870a53795f5c9
    api-key: uXhEczJ56adsfh3Ri9SUkc4en
    X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

+ verification_code (number) - 6598 - required if authentication_method is OTP

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 201
+ data (object)
    + status: SIGNED (enum)
        - NEW
        - APPROVED
        - SIGNED
        - CANCELLED
        - REJECTED
    + id (string) - eeebb86d-5cba-43c9-885b-6482ecaf826b
    + person (required)
        + id (string) - 13001c60-45a0-4b5a-b425-9505e1de18bd - MPI id of the person
        + include Person_info_Public_response_v2_with_new_confidant_data_object
    + patient_signed (boolean) - false - Person's evidence of sign the person request
    + process_disclosure_data_consent (boolean) - true - Person's evidence of information about consent to data disclosure
    + content (string) - Person content - HTML document that MUST be shown to a end-user and signed by his key.
    + channel (string) - MIS - channel that invoke patient create service
    + authorize_with (string) - cc949559-5dfe-420f-ac05-065e443b2cc6- identifier of person's auth method

+ Response 422 (application/json)
+ Attributes (Response_Error)

+ meta (Response__Meta)
    + code: 422
+ error
    + type (string) - forbidden
    + message (string) - Invalid verification code

### Reject Person Request [GET /il/person_requests]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)

+ Headers

    Authorization: Bearer c2778f3064753ea70de870a53795f5c9
    api-key: uXhEczJ56adsfh3Ri9SUkc4en
    X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 200
+ data (object)
    + status: SIGNED (enum)
        - NEW
        - APPROVED
        - SIGNED
        - CANCELLED
        - REJECTED
    + id (string) - eeebb86d-5cba-43c9-885b-6482ecaf826b
    + person (required)
        + id (string) - 13001c60-45a0-4b5a-b425-9505e1de18bd - MPI id of the person
        + include Person_info_Public_response_v2_with_new_confidant_data_object
    + patient_signed (boolean) - false - Person's evidence of sign the person request
    + process_disclosure_data_consent (boolean) - true - Person's evidence of information about consent to data disclosure
    + content (string) - Person content - HTML document that MUST be shown to a end-user and signed by his key.
    + channel (string) - MIS - channel that invoke patient create service
    + authorize_with (string) - cc949559-5dfe-420f-ac05-065e443b2cc6- identifier of person's auth method

+ id (string) - eeebb86d-5cba-43c9-885b-6482ecaf826b

+ Request (application/json)

+ Headers

    Authorization: Bearer c2778f3064753ea70de870a53795f5c9
    api-key: uXhEczJ56adsfh3Ri9SUkc4en
    X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 201 (application/json)
+ Attributes (Response__Process_OK)

+ meta (Response__Meta)
    + code (number) - 200
+ data (object)
    + status: SIGNED (enum)
        - NEW
        - APPROVED
        - SIGNED
        - CANCELLED
        - REJECTED
    + id: eeebb86d-5cba-43c9-885b-6482ecaf826b (string, required
    + person (required)
        + id (string) - 13001c60-45a0-4b5a-b425-9505e1de18bd - MPI id of the person
        + include Person_info_Public
    + patient_signed (boolean) - false - Person's evidence of sign the person request
    + process_disclosure_data_consent (boolean) - true - Person's evidence of information about consent to data disclosure
    + content (string) - Person content - HTML document that MUST be shown to a end-user and signed by his key.
    + channel (string) - MIS - channel that invoke patient create service
    + authorize_with (string) - cc949559-5dfe-420f-ac05-065e443b2cc6 - identifier of person's auth method

### Sign Person Request [GET /il/person_requests]
+ Parameters
+ `id` (string, required) - identifier

+ Request (application/json)

+ Headers

    Authorization: Bearer c2778f3064753ea70de870a53795f5c9
    api-key: uXhEczJ56adsfh3Ri9SUkc4en
    msp_drfo: 2534157686
    X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Attributes (object)

[...]
